//META{"name":"TMEME","description":"TMEME","author":"Bacon_Space","version":"1.2"}*//{}
@import url(https://rawgit.com/TheBaconSpace/SkynetTheme/master/code.css);


:root {
    --discordgrey: #99AAB5;
    --discordblack: #2C2F33;
    --discordwhite: #FFFFFF;
    --fff: url(http://img.bacon.x10host.com/file/sn.ttf);
    --welcome:  url("https://i.imgur.com/DYPXksE.png");
    --p-light: rgba(0,0,0,.87);
    --s-light: rgba(0,0,0,.54);
    --h-light: rgba(0,0,0,.38);
    --d-light: rgba(0,0,0,.12);
     --custom: #3D5AFE ;
    --p-dark: rgba(255,255,255,1);
    --s-dark: rgba(255,255,255,.70);
    --h-dark: rgba(255,255,255,.50);
    --d-dark: rgba(255,255,255,.12);
    --skynetcolor: orange ;
    --skyparent: transparent;
    --accent-color:  #7289DA;
    --name: "TMEME Theme";
    --modal-light: #FFFFFF;
    --background-light: #FAFAFA;
    --a-bar-light: #F5F5F5;
    --s-bar-light: #E0E0E0;
    --modal-dark: #424242;
    --background-dark: #303030;
    --a-bar-dark: #212121;
    --s-bar-dark: #000000;
    --card-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --card-hover-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);    
    --button-ui-select-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    --button-ui-select-hover-menu-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    --transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    --hover-transform: translateY(-5px);
    --lvl1: #3D5AFE;
     --black: black;
     --grey:rgba(40,43,48,.6);
     --white: white;
     --main-color: #3D5AFE ;
     --modal-light: #FFFFFF;
     --awesome: fontawesome;
    --discord: url("https://goo.gl/iSb627");
    --twitter: url("https://goo.gl/HjSDTb");
    --profile: url("https://i.imgur.com/OkkTacb.jpg");
    --account: url("https://i.imgur.com/aRx0ieG.jpg");
    --popout: url("https://i.imgur.com/pkjN195.jpg");
    --testone: url("https://i.imgur.com/C5OiUoo.jpg");
    --streaming: url("https://i.imgur.com/4kmPHjn.jpg");
    --tweet: #4da7de;
        --dark-0: #424242;
    --dark-1: #383838;
    --dark-2: #343434;
    --dark-3: #282828;
    --dark-4: #202020;
    --dark-5: #141414;
    --dark-6: #080808;
    --cbase-1: #ffffff;
    --cbase-2: #888888;
    --cbase-3: #000000;
    --cbase-4: #bbbbbb;
    --cbase-5: #606060;
    --cbase-6: #eeeeee;
    --cbase-7: #dcddde;
    --cbase-8: #f6f6f7;
}
@-webkit-keyframes version {
    from {
        -webkit-transform: translate(-50%, -100%);
        transform: translate(-50%, -100%);
    }
    20% {
        -webkit-transform: translate(-50%, 20%);
        transform: translate(-50%, 20%)
    }
    80% {
        -webkit-transform: translate(-50%, 20%);
        transform: translate(-50%, 20%)
    }
    to {
        -webkit-transform: translate(-50%, -100%);
        transform: translate(-50%, -100%);
    }
}
@keyframes version {
    from {
        -webkit-transform: translate(-50%, -100%);
        transform: translate(-50%, -100%);
    }
    20% {
        -webkit-transform: translate(-50%, 20%);
        transform: translate(-50%, 20%)
    }
    80% {
        -webkit-transform: translate(-50%, 20%);
        transform: translate(-50%, 20%)
    }
    to {
        -webkit-transform: translate(-50%, -100%);
        transform: translate(-50%, -100%);
    }
}

body:before {
    content: "\f015\ Thanks for using "var(--name);
    z-index: 1000000000000000000000000;
    color: #fff;
    background: var(--custom);
    top: 0px;
    left: 50%;
    position: absolute;
    font-family: var(--awesome);
    border-radius: 5px;
    padding: 5px 15px;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    -webkit-animation: version 3s ease;
    animation: version 3s ease;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;

}

.embed .embed-video-actions .embed-video-actions-inner {
    background: var(--discordwhite);
    border-radius: 18px/35px;
    padding: 12px 14px;

}
.embed .embed-video-actions .embed-video-play {
    background-image: url(https://goo.gl/6z71RZ);
     color: white !important;
}
.embed .embed-video-actions .embed-video-popout {
    background-image: url(https://goo.gl/CaQFe2);
}
.btn.disabled {
    cursor: default;
    opacity: 1;
    color: white !important;
}
}.protip {
    font-size: 12px;
    font-weight: 500;
    color: #99aab5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.avatar-profile[style*="318953514078568448"]:after {
    content: "Skynet Bot Made By Bacon_Space";
    font-size: 13px;
    text-align: left;
    top: 50%;
    position: absolute;
    margin: 11px 0 0 175px;
    width: 170px;
    color: black
     border-style: solid;
    background-size: cover !important;
    background-position: center !important;
}
.mentioned .mention:hover {
    color: var(--custom)
}
div.message-group-blocked-btn, .theme-light .messages-wrapper .messages .message-group-blocked, .theme-light .messages-wrapper .messages .message-group-blocked.revealed{
    display:none!important;
}
div.message-group-blocked-btn, .theme-dark .messages-wrapper .messages .message-group-blocked, .theme-dark .messages-wrapper .messages .message-group-blocked.revealed{
    display:none!important;
}
.avatar-large[style*="/a_"]+.comment .username-wrapper:before {
    background: url('https://canary.discordapp.com/assets/65f0a0df5563e21de7b1aeeafaf31d78.svg') 50% 50% / contain no-repeat;
    float:left;
    content: '';
    width: 21px;
    height: 16px;
    margin: 0 5px 0 -5px;
}
.avatar-small[style*="/a_"]+.member-inner .member-username:before {
    background: url('https://canary.discordapp.com/assets/65f0a0df5563e21de7b1aeeafaf31d78.svg') 50% 50% / contain no-repeat;
    float:left;
    content: '';
    width: 21px;
    height: 16px;
    margin: 0 5px 0 -5px;
}
.embed .embed-description,
.embed .embed-provider{
    color: var(--discordwhite)!important;
}
.embed.embed-link{
    background-color: var(--discordblack)!important;
}
.theme-dark div.user-settings-locale div[class*=checked] polyline {
    stroke: var(--modal-light)!important;
}
#user-profile-modal .guilds .guild .discriminator:hover {
color: grey !important;
}

.member-roles .member-role .member-role-remove {
    background: url(https://i.imgur.com/O2TX2bn.png) 50% no-repeat;
    width: 8px;
    height: 12px;
    background-size: 8px;
}
.member-roles .member-role.member-role-add button {
    background: url(https://i.imgur.com/1MfzLoF.png) 50% no-repeat;
    width: 8px;
    height: 12px;
    background-size: 10px;
}
.chat .welcome-message .item-container .icon.exclamation {
    background-image: var(--discord);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 29px 13px;
}
.chat .welcome-message .item-container .icon.share {
    background-image: var(--discord);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 29px 13px;
}
.chat .welcome-message .item-container .icon.apps {
    background-image: var(--discord);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 29px 13px;
}
.chat .welcome-message .item-container .icon.mobile {
    background-image: var(--discord);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 29px 13px;
}
.chat .welcome-message .item-container .icon.twitter {
    background-image: var(--twitter);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 29px 13px;
}
.channel-members h2 {
    color: var(--lvl1);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .08em;
    font-weight: 500;
    padding: 0 30px;
    margin-top: 29px;
    border-style: dashed  dashed dashed  dashed;
}

.comment .attachment-image img {
      border-style: solid;
    border-width: 5px;
   color: var(--discordblack)
}
.image,
.modal-image .image {
border-style: solid;
}
.old-h2 {
 border-style: solid;
}

#user-profile-modal .header .header-info .header-info-inner .discord-tag .username:hover{
color: solid var(--custom);
}
#user-profile-modal .guilds .section .connected-accounts .connected-account{
        border: 2px solid red;
    border-radius: 5px;
}
#user-profile-modal .guilds .section .connected-accounts .connected-account:hover{
        border: 2px solid #3D5AFE;
    border-radius: 5px;
}
#user-profile-modal .guilds .section .connected-accounts .connected-account .connected-account-name-inner .connected-account-name {
    font-weight: 400;
    font-size: 16px;
    color: solid var(--lvl1);
    margin-left: 10px;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#user-profile-modal .guilds .section .connected-accounts .connected-account a .connected-account-open-icon{
    color: solid #3D5AFE;
}
.theme-dark .cardPrimary-ZVL9Jr {
    background-color:  var(--discordgrey);
    border-color: #dcddde;
            border: 2px solid #3D5AFE;
    border-radius: 5px;
}
.theme-dark .user-settings-account .view-body{
    color: white;
}
.theme-dark .cardPrimary-ZVL9Jr{
      background-image: url("https://i.imgur.com/u7j5VaZ.jpg");
            background-size: cover !important;
    background-position: center !important;
}
.headerNormal-1cioxU {
    background: black url("https://i.imgur.com/u7j5VaZ.jpg");
    background-size: 270px 213px;
    background-size: cover !important;
    background-position: center !important;
}

.headerUsernameNoNickname-1iGxNP,
.headerDiscriminator-3fLlCR {
    color: var(--discordwhite);
}
.creation-date-wrapper {
    font-size: 12px;
    color: var(--discordwhite);
    font-family: inherit;
    opacity: 0.6;
    margin-bottom: 10px;
}
.avatarSpeaking-3teDH6 {
    box-shadow: 0 0 0 2px red, inset 0 0 0 1.5px #2f3136
}
.channels-wrap .wrapperDefault-1Dl4SS,
.channels-wrap .wrapperHovered-1KDCyZ {
    padding-top: 28px;
    padding-right: 8px;
    padding-left: 18px;
    padding: 0 0 8px 0;
    height: auto;
    margin: 28px 8px 4px 18px;
    border-bottom: 1px solid var(--accent-color);
}
.channels-wrap .nameDefault-Lnjrwm,
.channels-wrap .nameHovered-1YFSWq {
    text-align: center;
}
.tooltip {  
    background-color: blue !important;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2)!important;
    padding: 6px 10px;
    border-radius: 3px;
    font-size: 13px;
    z-index: 1000000000000000000;
    pointer-events: none;
    animation: opacity 80ms ease;
}
.tooltip::after {
    visibility: hidden;
}
.tooltip.tooltip-brand {
    background-color: blue;
}
.channel-members h2, .private-channels header {
    text-align: center;
}

.channel-members h2::after, .private-channels header::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 10px;
}



#user-profile-modal .header {
    background: black url("https://i.imgur.com/u7j5VaZ.jpg");
    background-size: 270px 213px;
    background-size: cover !important;
    background-position: center !important;
}
#user-profile-modal .avatar-wrapper {
    background-color: transparent;
}
#user-profile-modal .actions .btn.disabled,
 #user-profile-modal .actions .btn.disabled:hover {
    cursor: default;
    background: #F44336;
    color: white;
    border: 1px solid #F44336;
    border-radius: 3px;
}
.theme-dark .selectorSelected-2M0IGv {
    background-color: var(--tweet);
    color: #fff;
}
#user-profile-modal .actions .btn.add-friend {
    background: #43b581;
}
#user-profile-modal .header .header-info .header-info-inner .discord-tag .discriminator {
    font-size: 16px;
    color: solid var(--accent-color);
}
.avatar-profile[style*="173449041181409281"]:after {
    content: var(--name)" Creator";
    font-size: 13px;
    text-align: left;
    top: 50%;
    position: absolute;
    margin: 11px 0 0 175px;
    width: 170px;
    color: black
     border-style: solid;
    background-size: cover !important;
    background-position: center !important;

}

.avatar-profile[style*="94809843575029760"]:after {
    content: var(--name)" contributors";
    font-size: 13px;
    text-align: left;
    top: 50%;
    position: absolute;
    margin: 11px 0 0 175px;
    width: 170px;
    color: black
     border-style: solid;
    background-size: cover !important;
    background-position: center !important;

}
.avatar-profile[style*="82157505391624192"]:after {
    content: var(--name)" Friends";
    font-size: 13px;
    text-align: left;
    top: 50%;
    position: absolute;
    margin: 11px 0 0 175px;
    width: 170px;
    color: black
     border-style: solid;
    background-size: cover !important;
    background-position: center !important;

}



.new-messages-indicator.new-messages-indicator-mention,
.wrapper-2xO9RX,
.unread-23Kvxk,
.guilds-wrapper .guilds .guild .badge,
.guilds-wrapper .guilds .guild.selected:before,
 .guilds-wrapper .guilds .guild.unread:before{
background-color:var(--custom);
}
.chat .jump-to-present-bar button,
.chat .jump-to-present-bar button:hover {
    text-align: left;
    background: none;
    color: #fff;
    background-color:var(--custom);
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    padding: 6px 10px;
    line-height: 14px;
}
.messages-popout-wrap .header {
    background-color: transparent;
    background-image: var(--profile);
}
.messages-popout,
.messages-popout:hover {
    background-color: var(--custom);
    border-radius: 0 0 5px 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 13px 5px 7px 13px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-image: url("https://i.imgur.com/u7j5VaZ.jpg");
    background-size: auto !important;
    background-position: initial !important;
}
.message-group .sink-interactions {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: transparent;

}
.theme-dark .messages-popout-wrap .footer {
    background-image: var(--profile);
    background-size: auto !important;
    background-position: initial !important;
}
.protip.popout-footer .label, .protip.popout-footer .tip {
color: black;
}
.theme-dark .messages-popout-wrap .messages-popout .empty-placeholder .body {
    color: black;
    font-size: 16px;
    line-height: 19px;
}

.headerStreaming-3F-wjT {
    background: #593695;
    background-image: var(--streaming);

}
.headerLive-2dDMvp:hover {
    background-color: var(--skynet);
}
.status.avatar-link {cursor:pointer;-webkit-user-select:text;width:30px;height:30px;border-radius:50%;position:absolute;z-index:100;font-size:0;background-image:url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_link_white_24px.svg);background-size:contain;background-color:#555;right:calc(50% - 15px);bottom:-10px;}
.status.avatar-link:focus{background-color:var(--custom)}

.theme-dark .foreground-3yJWZE {
    fill: var(--tweet);
}
.theme-dark .header-1-f9X5 {
    color: var(--tweet);
}
.itemBrand-mC9YR4 {
    color: var(--tweet);
}
.itemBrand-mC9YR4:hover {
    color: var(--custom);
}

.chat>.title-wrap>.title .channel-name:before {
    content: "\f015\ ";
    margin-right: 2px;
    color: #8a8e94;
    font-weight: 300;
    font-family: var(--awesome);
}

.bot-tag {
    padding: 1px 4px;
}
.theme-dark .bot-tag {
    background: var(--dark-4);
}
.theme-dark .channel-members .member.popout-open .bot-tag {
    background: var(--dark-5);
}
.theme-dark .channel-members .member:hover .bot-tag {
    background: var(--dark-5);
}
.region-select-modal .region-select-modal-footer {
    font-size: 14px;
    text-align: left;
}
.region-select-modal .region-select-modal-header {
    text-align: left;
    font-weight: 600;
    letter-spacing: .3px;
    font-size: 16px;
}
.region-select-modal .region-select-modal-option .region-select-flag {
    border-radius: 6px;
    border: 3px solid var(--dark-3);
    background-color: transparent;
    margin-top: -2px;
}
.region-select-modal .region-select-modal-option .region-select-name {
    margin-top: -26px;
    margin-left: 57px;
    padding: 0;
    font-weight: 500;
    text-align: left;
}
.region-select-modal .region-select-modal-option:first-of-type {
    border-radius: 3px 3px 0 0;
}
.region-select-modal .region-select-modal-option:last-of-type {
    border-radius: 0 0 3px 3px;
}
.region-select-modal .region-select-modal-options {
    display: block;
    max-height: 300px;
    overflow-y: scroll;
    padding-right: 4px;
}
.region-select-modal .region-select-modal-option {
    display: block;
    padding: 10px;
    margin: 0;
    width: 100%;
    border-radius: 0;
    height: 50px;
    border: 0;
}
.region-select-modal {
    border-radius: 0;
    padding: 20px;
}
.theme-dark .region-select-modal .region-select-modal-footer {
    color: var(--cbase-2);
}
.theme-dark .region-select-modal .region-select-modal-header {
    color: var(--cbase-1);
}
.theme-dark .region-select-modal .region-select-modal-option .region-select-name {
    color: var(--cbase-1);
}
.theme-dark .region-select-modal .region-select-modal-option:hover {
    background-color: #7298da;
}
.theme-dark .region-select-modal .region-select-modal-option {
    background-color: transparent;
}
.theme-dark .region-select-modal {
    background-color: var(--dark-4);
    background-image: var(--streaming);
    border: 1px solid var(--dark-1);
}
.message-group .accessory{
    display: flex;
    flex-flow: row wrap;
}
.message-group .accessory>*:not(:last-of-type){
    margin-right:10px;
}
.message-group .accessory>*{
    margin-top:5px;
}
.reactions{
    width:100%;
    flex:100%;
    order:9999999999;
}

.user-settings-account .ui-form-item:last-of-type .view-body.selectable-prgIYK:last-of-type {
    -webkit-filter: blur(5px) !important;
}
.user-settings-account .ui-form-item:last-of-type .view-body.selectable-prgIYK:last-of-type:hover {
    -webkit-filter: initial !important;
}
.app, #pubslayerroot .layer .ui-standard-sidebar-view {
    background-image: var(--streaming);
    background-size: cover !important;
    background-position: center !important;
}

body::after,
.callout-backdrop,
.user-popout::before,
#user-profile-modal .header::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.light label,
.radio-theme.dark label{
    background-image: var(--streaming) !important; /* IMPORTANT: For best result, use wallpaper dimensions */
}   
.account:after {
    content: var(--name)" by Bacon_Space";
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 5px;
    opacity: .3
}
.user-settings-keybinds .ghost-pill {
    color: var(--white);
    background-color:var(--tweet);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 16px;
    border-radius: 16px;
}


.protip {
    font-size: 12px;
    font-weight: 500;
    color: var(--tweet);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.upload-modal {
    width: 520px;
    min-height: 258px;
    background-color: #7289da;
    background-image: var(--streaming);
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-perspective: 1000;
    perspective: 1000;
    -webkit-filter: blur(0);
    filter: blur(0);
}
.upload-modal .footer{
    background-color: transparent;
}
.search-popout .results-group{
    background-color: transparent;

}
.header-3sp3cE,
.content-1a0qkZ,
.theme-dark .footer-1PYmcw{
    background-color: transparent;
}
.btn.disabled {
    cursor: default;
    opacity: 1;
    background: rgb(232, 21, 21);
}
